body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
    background-image: url('images/table.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
    gap:20px;
}

h1{
    color: goldenrod;
    font-size: calc(10vw + 10px);
    margin-bottom: 0;
    display: block;
}

#message-el{
    font-style: italic;
    font-size: calc(2vw + 10px);
}

button{
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding: 1em;
    font-weight: 1000;
    border: none;
    border-radius: 8px;
    width: 200px;
    height: 50px;
}

p{
    font-size: larger;
}